$primary: #ff8220;
$off-primary: lighten($primary, 10%);
$secondary: #00408f;
$white: #f0f0f0;
$bright-white: #ffffff;
$gray: #646464;
$black: #000000;
$transparrent: rgba(255,255,255,0);

$nav-bar-height: 50px;
