$primary: #ff8220;
$secondary: #00408f;
$white: #f0f0f0;
$bright-white: #ffffff;
$gray: #646464;
$black: #000000;
$transparrent: rgba(255,255,255,0);


body {
  margin: 0;
  background-color: $white;

  .nav-bar {
    width: 100%;
    background-color: $primary;
    box-shadow: 0 -3px 10px 7px $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-bar-inner {
      max-width: 800px;
      width: 90vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        display: inline-block;
        margin: 0;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        a {
            display: inline-block;
            text-decoration: none;
            line-height: 30px;

              color: $secondary;
              transition: color 0.4s;
        }
        &:hover {
          a {
            color: $black;
          }
        }
      }

      nav {
        display: inline-block;
        ul {
          display: inline-block;
          li {
            display: inline-block;
            a {
                text-decoration: none;
                margin-left: 10px;
                font-family: "Trebuchet MS", Helvetica, sans-serif;
                color: $black;
                border-bottom: 2px solid $transparrent;
                transition: border-color 0.4s;
                transition: color 0.4s;
            }
            &:hover {
              a {
                border-bottom: 2px solid $secondary;
                color: $secondary;
              }
            }
          }
        }
      }
    }
  }
  .main-content {
    text-align: center;
    a {
      text-decoration: none;
      display: inline-block;
      max-width: 800px;
      width: 90vw;
      border: 0px solid $transparrent;
      background-color: $bright-white;
      margin-bottom: 40px;
      border-radius: 10px;
      box-shadow: 2px 3px 10px $gray;
      transition: background-color 0.4s;
      .card {
        display: flex;
        .card-image {
          object-fit: cover;
          height: 20vw;
          max-height: 200px;
          width: auto;
          border-radius: 10px 0 0 10px;
        }
        .card-content {
          flex: 1;
          text-align: left;
          padding: 10px;
          .card-header {
            margin: 0;
            color: $primary;
            font-weight: bold;
            font-family: "Arial Black", Gadget, sans-serif;
            transition: color 0.4s;
          }
          .card-text {
            margin: 0;
            color: $black;
            font-size: 18px;
          }
        }
      }
      &:first-child {
        margin-top: 40px;
      }
      &:hover {
        background-color: $primary;
        .card {
          .card-content {
            .card-header {
              color: $secondary;
            }
            .card-text {

            }
          }
        }
      }
    }
  }
}
