@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
@-webkit-keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}
@-webkit-keyframes disappear {
    0% {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.nav-bar {
    width: 100%;
    background-color: $primary;
    box-shadow: 0 -3px 10px 7px $gray;
    position: sticky;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-bar-inner {
        max-width: 800px;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > h1 {
            display: inline-block;
            margin: 0;
            font-family: "Trebuchet MS", Helvetica, sans-serif;

            > a {
                display: inline-block;
                text-decoration: none;
                line-height: 30px;
                color: $secondary;
                transition: color .4s;
            }

            &:hover {
                a {
                    color: $black;
                }
            }
        }

        > nav {
            display: inline-block;

            > ul {
                display: table;
                margin: 0;
                height: 50px;

                > li {
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;

                    > a {
                        height: 100%;
                        padding: 0 10px;
                        line-height: 50px;
                        display: block;
                        text-decoration: none;
                        font-family: "Trebuchet MS", Helvetica, sans-serif;
                        color: $black;
                        transition: border-color .4s;
                        transition: color .4s;
                    }

                    > ul {
                        position: absolute;
                        padding: 0;
                        margin: 0;
                        background-color: $off-primary;
                        border: 5px solid $off-primary;
                        border-top: 10px solid $off-primary;
                        transform: translateY(-10px);
                        border-radius: 0 10px 10px 10px;
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity .5s linear;
                        position: absolute;

                        > li {
                            display: block;
                            transition: background-color .4s;
                            background-color: $white;

                            &:first-child {
                                border-radius: 10px 10px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 10px 10px;
                            }

                            a {
                                color: $black;
                                display: block;
                                padding: 10px 5px;
                                text-decoration: none;
                                transition: color .4s;
                            }

                            &:hover {
                                background-color: $off-primary;

                                a {
                                    color: $secondary;
                                }
                            }
                        }
                    }

                    &:hover {
                        > a {
                            background-color: $off-primary;
                            color: $secondary;
                        }

                        > ul {
                            visibility: visible;
                            opacity: 1;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}