.nav-bar {
  width: 100%;
  background-color: #ff8220;
  box-shadow: 0 -3px 10px 7px #646464;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .nav-bar-inner {
  max-width: 800px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .nav-bar-inner > h1 {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.nav-bar .nav-bar-inner > h1 > a {
  display: inline-block;
  text-decoration: none;
  line-height: 30px;
  color: #00408f;
  transition: color 0.4s;
}
.nav-bar .nav-bar-inner > h1:hover a {
  color: #000000;
}
.nav-bar .nav-bar-inner > nav {
  display: inline-block;
}
.nav-bar .nav-bar-inner > nav > ul {
  display: table;
  margin: 0;
  height: 50px;
}
.nav-bar .nav-bar-inner > nav > ul > li {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.nav-bar .nav-bar-inner > nav > ul > li > a {
  height: 100%;
  padding: 0 10px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #00408f;
  transition: border-color 0.4s;
  transition: color 0.4s;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul {
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: #ff9f53;
  border: 5px solid #ff9f53;
  border-top: 10px solid #ff9f53;
  transform: translateY(-10px);
  border-radius: 0 10px 10px 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li {
  display: block;
  transition: background-color 0.4s;
  background-color: #f0f0f0;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li:first-child {
  border-radius: 10px 10px 0 0;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li:last-child {
  border-radius: 0 0 10px 10px;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li a {
  color: #00408f;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  transition: color 0.4s;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li:hover {
  background-color: #ff9f53;
}
.nav-bar .nav-bar-inner > nav > ul > li > ul > li:hover a {
  color: #000000;
}
.nav-bar .nav-bar-inner > nav > ul > li.current {
  box-shadow: inset 0px 0px 10px 10px #ff9f53;
}
.nav-bar .nav-bar-inner > nav > ul > li:hover > a {
  background-color: #ff9f53;
  color: #000000;
}
.nav-bar .nav-bar-inner > nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.main-content.projects {
  text-align: center;
}
.main-content.projects a {
  text-decoration: none;
  display: inline-block;
  max-width: 800px;
  width: 90vw;
  border: 0 solid rgba(255, 255, 255, 0);
  background-color: #ffffff;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px #646464;
  transition: background-color 0.4s;
}
.main-content.projects a .card {
  display: flex;
}
.main-content.projects a .card .card-image {
  object-fit: cover;
  height: 20vw;
  max-height: 200px;
  width: auto;
  border-radius: 10px 0 0 10px;
}
.main-content.projects a .card .card-content {
  flex: 1;
  text-align: left;
  padding: 10px;
}
.main-content.projects a .card .card-content .card-header {
  margin: 0;
  color: #ff8220;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  transition: color 0.4s;
}
.main-content.projects a .card .card-content .card-text {
  margin: 0;
  color: #000000;
  font-size: 18px;
}
.main-content.projects a:first-child {
  margin-top: 40px;
}
.main-content.projects a:hover {
  background-color: #ec6800;
}
.main-content.projects a:hover .card .card-content .card-header {
  color: #00408f;
}
.footer {
  padding: 10px;
  background-color: grey;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}
body .main-content {
  flex: 1 0 auto;
}
body .footer {
  flex-shrink: 0;
}

/*# sourceMappingURL=style.css.map */
